<!-- ALERTA -->
<div class="alert-c-register" *ngIf="status && status=='error'">
    <div class="header-alert-register float-right">
        <i class="icon fas fa-times float-right" (click)="closeAlert()"></i>
    </div>
    <div class="text">
        <span>{{ errorMessage }}</span>
    </div>
</div>
<!-- ALERTA -->

<!-- ALERTA -->
<div class="alert-c-register" *ngIf="status && status=='success'">
    <div class="header-alert-register float-right">
        <i class="icon fas fa-times float-right" (click)="closeAlert()"></i>
    </div>
    <div class="text">
        <span>{{ 'Cuenta creada con éxito' }}</span>
    </div>
</div>
<!-- ALERTA -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-c register" *ngIf="!loading">
                <div class="card-c-header">
                    <h3>¡ Registrate gratis !</h3>
                </div>
                <div class="card-c-body">
                    <form id="formRegister" #formRegister="ngForm" (ngSubmit)="onSubmit(formRegister)">

                        <div class="gorup d-flex flex-row">
                            <input type="text" placeholder="Tu nombre" name="name"  #name="ngModel" [(ngModel)]="user.name" required> 
                            <span class="red-input" *ngIf="!name.valid && name.touched">**</span>
                        </div>
                       
                        <div class="gorup d-flex flex-row">
                            <input type="text" placeholder="Apellidos" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required>
                            <span class="red-input" *ngIf="!surname.valid && surname.touched">**</span>
                        </div>

                        <div class="gorup d-flex flex-row">
                            <input type="text" placeholder="Correo electrónico" name="email" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            <span class="red-input" *ngIf="!email.valid && email.touched">**</span>
                        </div>

                        <div class="gorup d-flex flex-row">
                            <input type="password" placeholder="Contraseña (minimo 5 caracteres)" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                            <span class="red-input" *ngIf="!password.valid && password.touched">**</span>
                        </div>

                        <span class="text-muted pb-2 ml-auto d-inline-block">¿Ya tienes una cuenta? <a [routerLink]="['/iniciar-sesion']">Iniciar sesión</a></span>
                        <button class="submit-register" type="submit" id="registerButton" [disabled]="!formRegister.form.valid">Registrate</button>
                    </form>

                </div>


            </div>

            <!-- Spinner default -->
            <div class="text-center text-white spinner-c" *ngIf="loading">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
             <!-- Spinner default -->

        </div>
    </div>
</div>
